.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 30%;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
#results{
  font-size: 84px;
}
#img1 {
  width: 0%;
}
#img2 {
  width: 0%;
}
#img3 {
  width: 0%;
}
#img4 {
  width: 0%;
}
#img5 {
  width: 0%;
}
#img6 {
  width: 0%;
}
#img1-1 {
  width: 0%;
}
#img2-1 {
  width: 0%;
}
#img3-1 {
  width: 0%;
}
#img4-1 {
  width: 0%;
}
#img5-1 {
  width: 0%;
}
#img6-1 {
  width: 0%;
}
